<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
    <dict>
        <key>CFBundleName</key>
        <string>app</string>
        <key>CFBundleIdentifier</key>
        <string>1863</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>CFBundleAllowMixedLocalizations</key>
        <string>true</string>
        <key>CFBundleExecutable</key>
        <string>DeltaEditor.sh</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>oded</string>
        <key>CFBundleGetInfoString</key>
        <string>Open DELTA Editor 1.0</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleIconFile</key>
        <string>delta_editor.icns</string>

        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>dlt</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>delta_editor.icns</string>
                <key>CFBundleTypeName</key>
                <string>DELTA data set</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                    <string>dlt</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
            </dict>
        </array>
    </dict>
</plist>
