<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>app</string>
	<key>CFBundleIdentifier</key>
	<string>1863</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>Intkey.sh</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>odik</string>
	<key>CFBundleGetInfoString</key>
	<string>Open DELTA 1.0i - Intkey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>delta_intkey.icns</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ink</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>delta_intkey.icns</string>
            <key>CFBundleTypeName</key>
            <string>Intkey data set</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>ink</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict>
    </array>
</dict>
</plist>
